h1{font-family:impact ; color:#127cd4 ; text-decoration: underline ; text-shadow: 3px 3px black}
h2{font-family:impact ; color:#127cd4 ; text-decoration: underline ; text-shadow: 2px 2px black}
p{font-family:verdana} 
